/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./styles/dropup.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
.dropup-content{
    display: none;
    position: absolute;
    bottom: 32px;
    left: -2px;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content{
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropup-show{
    display: block !important;
}
/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./styles/styles.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
.bg{
    background-image: url(/_next/static/media/winxpwallpaper.670e8ae9.jpg);
    background-color: darkslategrey;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover{
    height: 100%;
}

.no-padding{
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
}

.no-margin{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */ /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }

/*navbar styles*/

.no-margin-navbar{
    margin-top: -4px;
    margin-bottom: -3px;
    margin-left: -7px;
}


.start-btn{
    cursor: pointer;
}

.dropup-content{
    min-width: 400px !important;
    padding: 3px;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;

    background: rgba(19,97,199,1);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19,97,199,1)), color-stop(23%, rgba(107,172,247,1)), color-stop(79%, rgba(107,172,247,1)), color-stop(100%, rgba(19,97,199,1)));
    background: linear-gradient(to bottom, rgba(19,97,199,1) 0%, rgba(107,172,247,1) 23%, rgba(107,172,247,1) 79%, rgba(19,97,199,1) 100%); 
    box-shadow: inset 0px 4px 2px 0px rgba(255,255,255,0.31);
}

.start-title{
    width: 100%;
    color: white;
    vertical-align: top;
    font-size: 15px;
    text-shadow: 2px 2px 9px rgba(0,0,0,0.5);
    margin: 5px;
}

.start-title>div{
    display: inline-block;
    vertical-align: middle;
}

.start-title-img{
    padding: 4px;
    border-radius: 7%;
    background-color: grey;
    margin-right: 5px;
    background: #CECECE;
    background: linear-gradient(to bottom, #CECECE 0%, #8C8C8C 100%);
}

.start-title-img>img{
    border-radius: 7%;
    background-color: grey;
}

.start-linklist-left {
    display: flex;
    height: 75%; /* Adjust the height as needed */
    overflow: scroll;
    margin-right: -4px;
    background-color: rgb(255, 255, 255);
    vertical-align: top;
}

.start-linklist-right{
    display: flex;
    width: 50%;
    height: 75%;
    overflow: scroll;
    margin-right: -4px;
    background-color: rgb(203, 227, 255);
    vertical-align: top;
}

.start-span{
    background: #CECECE;
    background: linear-gradient(to right, #CECECE 15%, #FF7B00 50%, #CECECE 85%);
    width: 100%;
    height: 2px;
    display: flex;
}

.start-footer{
    width: 100%;
    margin-right: -4px;
}
.start-option{
    padding: 8px;
    color: black;
    font-size: 14px;
}

.start-link:link {
    display: flex;
    text-decoration: none;
    color: black;
}
  
.start-link:visited {
    display: flex;
    text-decoration: none;
    color: black;
}

.start-link:hover {
    display: flex;
    text-decoration: none;
    color: black;
}

.start-link:active {
    display: flex;
    text-decoration: none;
    color: black;
}

.start-option:hover{
    background-color: #265DDC;
    font-weight: bold;
    text-decoration: none;
}

.start-option {
    display: flex; /* Set the parent container to flex */
}

.start-option > * {
    margin-right: 8px; /* Adjust spacing between child elements */
    vertical-align: middle;
}
/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./styles/window.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
.window{

    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 69%;

    background: rgba(107,172,247,1);
    background: radial-gradient(ellipse at center, rgba(107,172,247,1) 0%, rgba(107,172,247,1) 0%, rgba(19,97,199,1) 66%, rgba(19,97,199,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bacf7', endColorstr='#1361c7', GradientType=1 ); 
    box-shadow: inset 0px 17px 6px -17px rgba(107,172,247,1);
    border-radius: 5px;
    padding: 5px;
    padding-top: 0px;
}
.window>.title{
    color: white;
    width: 100%;
    height: 25px;
    font-size: 15px;
    margin-top: 2px;
    cursor: grab
}
.window>.title>.img{
    height: 80%;
    margin-top: -2px;
}
.window>.content{
    
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    width: calc(100% - 10px);
    background-color: white;
    position: absolute;
    top: 25px;
    left: 0px;
    bottom: 0;
}
.window>.drag-rd{
    background-color: red;
    width: 10px;
    height: 10px;
    top: calc(100% - 5px);
    left: calc(100% - 5px);
    position: absolute;
    cursor: se-resize;
}
.window>.drag-ru{
    background-color: red;
    width: 10px;
    height: 10px;
    top: -5px;
    left: calc(100% - 5px);
    position: absolute;
    cursor: ne-resize;
}
.window>.drag-lu{
    background-color: red;
    width: 10px;
    height: 10px;
    top: -5px;
    left: -5px;
    position: absolute;
    cursor: nw-resize;
}
.window>.drag-ld{
    background-color: red;
    width: 10px;
    height: 10px;
    top: calc(100% - 5px);
    left: -5px;
    position: absolute;
    cursor: sw-resize;
}
